# Entorno virtual
.venv/

# Variables de entorno
*.env

# Caché de Python
__pycache__/
*.pyc

# Caché de Streamlit
.streamlit/

# Archivos de macOS
.DS_Store

# Archivos temporales de VS Code
.vscode/